<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Add Profile Form</title>
</head>
<body>
    <!-- NAVBAR: Home - Logout - Profile -->
    <%- include('./partials/navbar') %> 
    <br>
    <form action="/user/profile/edit" method="post">
        <p>
            First Name:
            <br>
            <input type="text" name="firstName" value="<%= profile.firstName %>">
        </p>
        <p>
            Last Name:
            <br>
            <input type="text" name="lastName" value="<%= profile.lastName %>">
        </p>
        <p>
            Date of Birth:
            <br>
            <input type="date" name="dateOfBirth" value="<%= profile.formattedDob %>">
        </p>
        <p>
            Phone Number:
            <br>
            <input type="number" name="phoneNumber" value="<%= profile.phoneNumber %>">
        </p>
        <p>
            Email:
            <br>
            <input type="text" name="email" value="<%= profile.User.email %>">
        </p>
        <p>
            <input type="submit" value="Update Profile">
        </p>
    </form>
</body>
</html>