<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <!-- NAVBAR: Home - Logout - Profile -->
    <%- include('./partials/navbar') %>
        <br>
        <br>
        <!-- SEARCH -->
        <div class="container mt-5 mb-5">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="d-flex justify-content-between p-2 px-3">
                            <div class="row d-flex align-items-center justify-content-center">

                                <div>
                                    <!-- TAGS -->
                                    <form action="/user" method="get">
                                        <input type="submit" class="btn btn-dark" name="tag" value="animal">
                                        <input type="submit" class="btn btn-dark" name="tag" value="comedy">
                                        <input type="submit" class="btn btn-dark" name="tag" value="food">
                                        <input type="submit" class="btn btn-dark" name="tag" value="news">
                                    </form>
                                    <br>
                                    <!-- POST -->
                                    <div>
                                        <form action="/user/post/add" method="post">
                                            <input type="text" name="imageURL" style="width: 291px"
                                                placeholder="Please insert ImageURL" class="form-control">
                                            <br>
                                            <input type="text" name="title" style="width: 291px"
                                                placeholder="Please insert Title"  class="form-control">
                                            <br>
                                            <textarea name="content" cols="40" rows="5"
                                                placeholder="Please insert Description" class="form-control"></textarea>
                                            <br>
                                            <select name="tag"  class="form-control">
                                                <option value="" disabled selected>--Tag--</option>
                                                <option value="animal">Animal</option>
                                                <option value="comedy">Comedy</option>
                                                <option value="food">Food</option>
                                                <option value="news">News</option>
                                            </select>
                                            <br>
                                            <input type="submit" value="Post">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Post -->
        <% post.forEach(x=> { %>
            <div class="container mt-5 mb-5">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="d-flex justify-content-between p-2 px-3">
                                <div class="d-flex flex-row align-items-center"> <img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" width="50"
                                        class="rounded-circle">
                                    <div class="d-flex flex-column ml-2">
                                        <span class="font-weight-bold">
                                            <%= x.User.username %> 
                                        </span>
                                        <small class="text-primary"><%= x.Tag.name %> </small>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mt-1 ellipsis">
                                    <small class="mr-2"><%= publish(x.createdAt) %></small>
                                    <i class="fa fa-ellipsis-h"></i>
                                </div>
                            </div>
                            <img src="<%= x.imageURL %>" class="img-fluid" alt="<%= x.title %>" >
                            <div class="p-2">
                                <hr>
                                <p class="text-justify">
                                    <%= x.content %>
                                </p>
                                <hr>
                                <div>
                                    <p><%= x.likes %> </p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-row icons d-flex align-items-center">
                                        <i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i>
                                    </div>
                                    <div class="d-flex flex-row muted-color">
                                        <% if (x.User.role !=='admin' ) { %>
                                            <a href="/user/post/<%= x.id %>/likes" class="btn btn-primary">Like</a>
                                            <% } else {%>
                                                <a href="/user/post/<%= x.id %>/likes" class="btn btn-primary">Like</a>
                                                <a href="/user/post/<%= x.id %>/delete" class="btn btn-danger">Delete</a>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% }) %>

                <div>

                </div>

                </div>
</body>

</html>